# 1. Text cleaning and tokenization with regular expression

In [53]:
import re
#텍스트 정규화 작업
#text regularization
#US, us, USA, usa...(변이형, variation) ==> U.S.A.(기본형) 동일한 형식으로 
#같은 의미 지니는 것들을 한 번에

sentence = 'Sunil tweeted, "Witnessing 70th Republic Day of India from Rajpath, \
New Delhi. Mesmerizing performance by Indian Army! Awesome airshow! @india_official \
@indian_army #India #70thRepublic_Day. For more photos ping me sunil@photoking.com :)"'

ret = re.sub(r'([^\s\w|_])+', ' ', sentence).split()
#print(ret)

for i in sentence.split():
    print(i, "==>", re.sub(r'([^\s\w]|_)+', ' ', i))

Sunil ==> Sunil
tweeted, ==> tweeted
"Witnessing ==>  Witnessing
70th ==> 70th
Republic ==> Republic
Day ==> Day
of ==> of
India ==> India
from ==> from
Rajpath, ==> Rajpath
New ==> New
Delhi. ==> Delhi
Mesmerizing ==> Mesmerizing
performance ==> performance
by ==> by
Indian ==> Indian
Army! ==> Army
Awesome ==> Awesome
airshow! ==> airshow
@india_official ==>  india official
@indian_army ==>  indian army
#India ==>  India
#70thRepublic_Day. ==>  70thRepublic Day
For ==> For
more ==> more
photos ==> photos
ping ==> ping
me ==> me
sunil@photoking.com ==> sunil photoking com
:)" ==>

# 2. N-gram extraction

In [12]:
import re

def n_gram_extractor(sentence, n):
    tokens = re.sub(r'([^\s\w]|_)+', ' ', sentence).split()
    for i in range(len(tokens)-n+1):
        print(tokens[i:i+n])

In [10]:
n_gram_extractor('The cute little boy is playing with the kitten.', 2)
#bi-gram, uni-gram, tri-gram, quadrogram
# ngram 확률
# count(해당 ngram)/총 ngram 개수
# smoothing ==> unknown words
# Add-one, Laplace
# N + 1/Total + Vocabulary_size(단어 개수)

['The', 'cute']
['cute', 'little']
['little', 'boy']
['boy', 'is']
['is', 'playing']
['playing', 'with']
['with', 'the']
['the', 'kitten']

In [11]:
n_gram_extractor('The cute little boy is playing with the kitten.', 3)

['The', 'cute', 'little']
['cute', 'little', 'boy']
['little', 'boy', 'is']
['boy', 'is', 'playing']
['is', 'playing', 'with']
['playing', 'with', 'the']
['with', 'the', 'kitten']

In [56]:
from nltk import ngrams

#list(ngrams('The cute little boy is playing with the kitten.'.split(), 2))

ret = ngrams('The cute little boy is playing with the kitten.'.split(), 2)
list = ngrams('The cute little boy is playing with the kitten.'.split(), 2)

print(ret); 
print(type(ret))

for r in list:
    print(type(r), r)
    #print(r[0], r[1])
#kitten. vs. kitten ==> 서로 다른 단어로 간주
# kitten. ==> kitten(공백). ==> kitten과 punctuation을 따로 세는 것이 좋음
##regex를 먼저 하고, (punctuation을 공백으로 띄우고) nltk ngram을 사용하는 것이 좋음

<generator object ngrams at 0x000002516E39D7C8>
<class 'generator'>
<class 'tuple'> ('The', 'cute')
<class 'tuple'> ('cute', 'little')
<class 'tuple'> ('little', 'boy')
<class 'tuple'> ('boy', 'is')
<class 'tuple'> ('is', 'playing')
<class 'tuple'> ('playing', 'with')
<class 'tuple'> ('with', 'the')
<class 'tuple'> ('the', 'kitten.')

### 연습문제


다음 텍스트에서 bigram과 trigram 단위를 n_gram_extractor와 nltk를 활용해서 추출하시오.


sent = 'Collapsing oil prices are another unanticipated blow for Iran, which was already battling a severe outbreak and the economic impacts of American sanctions. A lockdown in the Philippine capital has been extended to mid-May.'

In [75]:
sent = 'Collapsing oil prices are another unanticipated blow for Iran, which was already battling a severe outbreak and the economic impacts of American sanctions. A lockdown in the Philippine capital has been extended to mid-May.'

#n_gram_extractor을 활용하여 추출
print('Bigram: ')
n_gram_extractor(sent, 2)
print(end='\n')

print('Trigram: ')
n_gram_extractor(sent, 3)
print(end='\n')

Bigram:
['Collapsing', 'oil']
['oil', 'prices']
['prices', 'are']
['are', 'another']
['another', 'unanticipated']
['unanticipated', 'blow']
['blow', 'for']
['for', 'Iran']
['Iran', 'which']
['which', 'was']
['was', 'already']
['already', 'battling']
['battling', 'a']
['a', 'severe']
['severe', 'outbreak']
['outbreak', 'and']
['and', 'the']
['the', 'economic']
['economic', 'impacts']
['impacts', 'of']
['of', 'American']
['American', 'sanctions']
['sanctions', 'A']
['A', 'lockdown']
['lockdown', 'in']
['in', 'the']
['the', 'Philippine']
['Philippine', 'capital']
['capital', 'has']
['has', 'been']
['been', 'extended']
['extended', 'to']
['to', 'mid']
['mid', 'May']

Trigram:
['Collapsing', 'oil', 'prices']
['oil', 'prices', 'are']
['prices', 'are', 'another']
['are', 'another', 'unanticipated']
['another', 'unanticipated', 'blow']
['unanticipated', 'blow', 'for']
['blow', 'for', 'Iran']
['for', 'Iran', 'which']
['Iran', 'which', 'was']
['which', 'was', 'already']
['was', 'already', 'battling']
['already', 'battling', 'a']
['battling', 'a', 'severe']
['a', 'severe', 'outbreak']
['severe', 'outbreak', 'and']
['outbreak', 'and', 'the']
['and', 'the', 'economic']
['the', 'economic', 'impacts']
['economic', 'impacts', 'of']
['impacts', 'of', 'American']
['of', 'American', 'sanctions']
['American', 'sanctions', 'A']
['sanctions', 'A', 'lockdown']
['A', 'lockdown', 'in']
['lockdown', 'in', 'the']
['in', 'the', 'Philippine']
['the', 'Philippine', 'capital']
['Philippine', 'capital', 'has']
['capital', 'has', 'been']
['has', 'been', 'extended']
['been', 'extended', 'to']
['extended', 'to', 'mid']
['to', 'mid', 'May']

In [76]:
#nltk를 활용하여 추출
from nltk import ngrams

list_r = sent.split()
ret_1 = ngrams(list_r, 2)
ret_2 = ngrams(list_r, 3)

print('Bigram: ')
for j in ret_1:
    print(j)
print(end='\n')

print('Trigram: ')
for i in ret_2:
    print(i)

Bigram:
('Collapsing', 'oil')
('oil', 'prices')
('prices', 'are')
('are', 'another')
('another', 'unanticipated')
('unanticipated', 'blow')
('blow', 'for')
('for', 'Iran,')
('Iran,', 'which')
('which', 'was')
('was', 'already')
('already', 'battling')
('battling', 'a')
('a', 'severe')
('severe', 'outbreak')
('outbreak', 'and')
('and', 'the')
('the', 'economic')
('economic', 'impacts')
('impacts', 'of')
('of', 'American')
('American', 'sanctions.')
('sanctions.', 'A')
('A', 'lockdown')
('lockdown', 'in')
('in', 'the')
('the', 'Philippine')
('Philippine', 'capital')
('capital', 'has')
('has', 'been')
('been', 'extended')
('extended', 'to')
('to', 'mid-May.')

Trigram:
('Collapsing', 'oil', 'prices')
('oil', 'prices', 'are')
('prices', 'are', 'another')
('are', 'another', 'unanticipated')
('another', 'unanticipated', 'blow')
('unanticipated', 'blow', 'for')
('blow', 'for', 'Iran,')
('for', 'Iran,', 'which')
('Iran,', 'which', 'was')
('which', 'was', 'already')
('was', 'already', 'battling')
('already', 'battling', 'a')
('battling', 'a', 'severe')
('a', 'severe', 'outbreak')
('severe', 'outbreak', 'and')
('outbreak', 'and', 'the')
('and', 'the', 'economic')
('the', 'economic', 'impacts')
('economic', 'impacts', 'of')
('impacts', 'of', 'American')
('of', 'American', 'sanctions.')
('American', 'sanctions.', 'A')
('sanctions.', 'A', 'lockdown')
('A', 'lockdown', 'in')
('lockdown', 'in', 'the')
('in', 'the', 'Philippine')
('the', 'Philippine', 'capital')
('Philippine', 'capital', 'has')
('capital', 'has', 'been')
('has', 'been', 'extended')
('been', 'extended', 'to')
('extended', 'to', 'mid-May.')

# 3. Feature extraction

In [24]:
!pip install Textblob

Collecting Textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\user\anaconda3\lib\site-packages (from Textblob) (3.4.5)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from nltk>=3.1->Textblob) (1.12.0)
Installing collected packages: Textblob
Successfully installed Textblob-0.15.3

In [72]:
import pandas as pd #data science(database) #excel유형의 spreadsheet으로 텍스트 관리하는 python 모듈
#import numpy, science computing(Data type을 python에 맞게 바꿔줌)

df = pd.DataFrame([['The interim budget for 2019 will be announced on 1st February.'],
                   ['Do you know how much expectation the middle-class working population is having from this budget?'],
                   ['February is the shortest month in a year.'],
                   ['This financial year will end on 31st March.']]) #list[list, list] list of list형식

df.columns = ['text']

df

                                                text
0  The interim budget for 2019 will be announced ...
1  Do you know how much expectation the middle-cl...
2          February is the shortest month in a year.
3        This financial year will end on 31st March.

In [74]:
from textblob import TextBlob

df['number_of_words'] = df['text'].apply(lambda x : len(TextBlob(str(x)).words))

df['number_of_words']

0    11
1    15
2     8
3     8
Name: number_of_words, dtype: int64

In [27]:
df

                                                text  number_of_words
0  The interim budget for 2019 will be announced ...               11
1  Do you know how much expectation the middle-cl...               15
2          February is the shortest month in a year.                8
3        This financial year will end on 31st March.                8

In [79]:
wh_words = set(['why', 'who', 'which', 'what', 'where', 'when', 'how'])
df['is_wh_words_present'] = df['text'].apply(lambda x : True if \
                                             len(set(TextBlob(str(x)).words).intersection(wh_words))>0 else False)
df['is_wh_words_present']

0    False
1     True
2    False
3    False
Name: is_wh_words_present, dtype: bool

In [80]:
df

,text,number_of_words,is_wh_words_present
0,The interim budget for 2019 will be announced ...,11,False
1,Do you know how much expectation the middle-cl...,15,True
2,February is the shortest month in a year.,8,False
3,This financial year will end on 31st March.,8,False

In [45]:
df['polarity'] = df['text'].apply(lambda x : TextBlob(str(x)).sentiment.polarity)
df['polarity']

0    0.0
1    0.2
2    0.0
3    0.0
Name: polarity, dtype: float64

In [46]:
df

,text,number_of_words,is_wh_words_present,polarity
0,The interim budget for 2019 will be announced ...,11,False,0.0
1,Do you know how much expectation the middle-cl...,15,True,0.2
2,February is the shortest month in a year.,8,False,0.0
3,This financial year will end on 31st March.,8,False,0.0

In [47]:
df['language'] = df['text'].apply(lambda x : TextBlob(str(x)).detect_language())
df['language']

0    en
1    en
2    en
3    en
Name: language, dtype: object

In [48]:
df

,text,number_of_words,is_wh_words_present,polarity,language
0,The interim budget for 2019 will be announced ...,11,False,0.0,en
1,Do you know how much expectation the middle-cl...,15,True,0.2,en
2,February is the shortest month in a year.,8,False,0.0,en
3,This financial year will end on 31st March.,8,False,0.0,en

In [49]:
df["number_of_words"].sum()

42

### lambda

In [51]:
def plus_ten(x):
    return x + 10

plus_ten(1)

11

In [52]:
plus_tenn = lambda x: x + 10   #lambda y, z, k

plus_tenn(10)

20

In [53]:
(lambda x: x + 10)(1)

11

### 연습문제

In [87]:
from nltk.tokenize import sent_tokenize

data_str = open('alice.txt', 'r').read().replace('\n', '')

sent_tokenize_list = sent_tokenize(data_str)

aList = []    

for ss in sent_tokenize_list:
    aa = []    
    aa.append(ss)
    aList.append(aa)

df = pd.DataFrame(aList)
df.columns = ['text']

df

                                                  text
0    ALICE'S ADVENTURES IN WONDERLAND              ...
1    Once or twice she had peeped into thebook her ...
2    "So she was considering in her own mind (as we...
3                                              Ohdear!
4                                I shall be too late!"
..                                                 ...
560                 "Why, what a long sleep you'vehad!
561              ""Oh, I've had such a curious dream!"
562                                        said Alice.
563  And she told hersister, as well as she could r...
564  Alice got up and ran off,thinking while she ra...

[565 rows x 1 columns]

### 실행할 내용
<br>
<br>

문장 당 단어 개수, wh_words = set(['why', 'who', 'which', 'what', 'where', 'when', 'how']) 유무, polarity item 지수를 계산해 보시오.

In [ ]:
!pip install Textblob
!pip install pandas

In [88]:
import pandas as pd
from textblob import TextBlob

df['number_of_words'] = df['text'].apply(lambda x : len(TextBlob(str(x)).words))

df['number_of_words']

0      50
1      33
2      77
3       1
4       5
       ..
560     6
561     8
562     2
563    23
564    20
Name: number_of_words, Length: 565, dtype: int64

In [89]:
df

                                                  text  number_of_words
0    ALICE'S ADVENTURES IN WONDERLAND              ...               50
1    Once or twice she had peeped into thebook her ...               33
2    "So she was considering in her own mind (as we...               77
3                                              Ohdear!                1
4                                I shall be too late!"                5
..                                                 ...              ...
560                 "Why, what a long sleep you'vehad!                6
561              ""Oh, I've had such a curious dream!"                8
562                                        said Alice.                2
563  And she told hersister, as well as she could r...               23
564  Alice got up and ran off,thinking while she ra...               20

[565 rows x 2 columns]

In [90]:
wh_words = set(['why', 'who', 'which', 'what', 'where', 'when', 'how'])
a = lambda x : True if len(set(TextBlob(str(x)).words).intersection(wh_words))>0 else False

df['is_wh_words_present'] = df['text'].apply(a)
df['is_wh_words_present']

0      False
1       True
2       True
3      False
4      False
       ...
560     True
561    False
562    False
563    False
564     True
Name: is_wh_words_present, Length: 565, dtype: bool

In [91]:
df

,text,number_of_words,is_wh_words_present
0,ALICE'S ADVENTURES IN WONDERLAND ...,50,False
1,Once or twice she had peeped into thebook her ...,33,True
2,"""So she was considering in her own mind (as we...",77,True
3,Ohdear!,1,False
4,"I shall be too late!""",5,False
...,...,...,...
560,"""Why, what a long sleep you'vehad!",6,True
561,"""""Oh, I've had such a curious dream!""",8,False
562,said Alice.,2,False
563,"And she told hersister, as well as she could r...",23,False
564,"Alice got up and ran off,thinking while she ra...",20,True

In [93]:
df['polarity'] = df['text'].apply(lambda x : TextBlob(str(x)).sentiment.polarity)
df['polarity']

0     -0.082424
1      0.000000
2      0.136111
3      0.000000
4     -0.375000
         ...
560   -0.062500
561   -0.062500
562    0.000000
563   -0.050000
564    1.000000
Name: polarity, Length: 565, dtype: float64

In [94]:
df

,text,number_of_words,is_wh_words_present,polarity
0,ALICE'S ADVENTURES IN WONDERLAND ...,50,False,-0.082424
1,Once or twice she had peeped into thebook her ...,33,True,0.000000
2,"""So she was considering in her own mind (as we...",77,True,0.136111
3,Ohdear!,1,False,0.000000
4,"I shall be too late!""",5,False,-0.375000
...,...,...,...,...
560,"""Why, what a long sleep you'vehad!",6,True,-0.062500
561,"""""Oh, I've had such a curious dream!""",8,False,-0.062500
562,said Alice.,2,False,0.000000
563,"And she told hersister, as well as she could r...",23,False,-0.050000
564,"Alice got up and ran off,thinking while she ra...",20,True,1.000000